@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    /* background-color: rgba(208, 178, 239, 0.411);
    font-family: sans-serif; */
    /* Desktop - 1 */
    position: absolute;
    width: 1440px;
    height: auto;
    left: 0px;
    top: 0px;
    
    background: #E6DFF1;
}
.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.logo{
    /* flex-grow: 1;
    width: 10%;
    font-family: 'Lobster Two', cursive; */
    /* font-size: 1.2em; */
    position: absolute;
width: 174px;
height: 44px;
left: 57px;
top: 18px;

font-family: 'Lobster Two';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #0D121A;

}
.navbar-mid{
    flex-grow: 1;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-right: 12em; */
}
.navbar-mid h2{
    padding: 0 3em;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 540;
    font-size: 22px;
}
.navbar-mid h2:hover{
    box-shadow: 15px 15px 15px #ccc8d54c;
}
.login{
    flex-grow: 1;
    width: 5%;
}
.login-btn{
    /* background-color: black;
    color: white;
    width: 7em;
    height: 2.4em;
    margin: 1.4em 0; */

    position: absolute;
width: 115px;
height: 44px;
left: 1325px;
top: 18px;
color: white;
background: #0D121A;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-left{
    flex-grow: 1;
    width: 50%;
    /* margin-left: 3em; */
    /* margin-top: 4em; */
    /* font-size: 2em; */
}
.content-left .content-heading{
    position: absolute;
width: 609px;
height: 309px;
left: 130px;
top: 150px;

font-family: Helvetica;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 122px;
display: flex;
align-items: center;

color: #000000;
/* 
border: 1px solid #FFFFFF; */

}
.content-left p{
    /* font-size: 0.7em; */
    position: absolute;
width: 594px;
height: 84px;
left: 144px;
top: 440px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
/* or 125% */

display: flex;
align-items: center;

color: #000000;
}
/* .content-left .context-text{
    display: flex;
    flex-direction: column;
} */
.content-left .getstarted-btn{
    /* background-color: black;
    color: white;
    width: 7em;
    height: 2.4em;
    margin: 1.4em 0;
    cursor: pointer; */


    /* position: absolute; */
/* width: 202px;
height: 44px;
left: 144px;
top: 609px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* display: flex; */
align-items: center;
text-align: center;
cursor: pointer;
color: #E6DFF1;

position: absolute;
width: 202px;
height: 57px;
/* left: 144px; */
top: 110px;

background: #0D121A;
}
.content-left .getstarted{
    display: flex;
    flex-direction: row;
    /* margin-top: -4%; */
    position: absolute;
}
.content-left .getstarted p{
    position: absolute;
width: 290px;
height: 58px;
left: 144px;
top: 560px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
}

.content-left .getstarted .fadeText{
    /* margin-left: 0.75em; */

    position: absolute;
width: 290px;
height: 58px;
left: 360px;
top: 560px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;


    color: rgba(100, 99, 98, 0.600);
    cursor: pointer;
}
.content-left .getstarted .fadeText:hover{
    text-decoration: underline;
}
.content-right{
    flex-grow: 1;
    width: 25%;
    /* display: flex;
    flex-direction: column; */
}
.content-right .rect1{
    /* position: absolute; */
    /* scale: 0.88; */
    /* z-index: -1; */
    position: absolute;
width: 339px;
height: 479px;
left: 936px;
top: 2px;
scale: 0.8;
background: #B0ADE8;
    
}
.content-right .rect2{
    z-index: -1;
scale: 0.8;
position: absolute;
width: 339px;
height: 479px;
left: 1098px;
top: 300px;
background: #FED0AB;
}
.content-right .img1{
    position: absolute;
left: 42.036%;
right: 77.35%;
top: 0%;
bottom: 80.86%;
/* background: #2F2E41; */
scale: 0.5;
z-index: 1;
}
.content-right .img2{
    z-index: 1;
    position: absolute;
    left: 60%;
    right: 2.40%;
    top: 540%;
    bottom: 1.14%;
    scale: 0.85;
/* scale: 10; */
/* background: #B0ADE8; */
}