

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'collab.css' %}">
    <title>Collaborate</title>
</head>
<body>



<!-- 
    {% for message in messages %} 
        <strong>Message: </strong> {{message}}
        
    {% endfor %} 


    {% if user.is_authenticated %} 
    <h3>Welcome {{ name }}</h3>
    <h4>Successfully logged in !</h4>
    {% else %} 
    <h3>Wrong page</h3>
    {% endif %} -->

    <header>

        <div class="user">
            <!-- <img src="images/logo.png.png" alt="My logo" class="logo"> -->
            <p class="logo">iCode</p>
            <img src="{% static 'user.webp' %}" alt="Profile Photo" class="pic">
            <p class="name">{{name}}</p>
            <div class="public-status">
                <p class="following"><b>30</b><br>FOLLOWERS
                </p>
                <p class="follower"><b>30</b><br>FOLLOWING</p>
            </div>
        </div>
    
        <nav class="navbar">
            <hr>
            <ul>
                <li><a href="/profilec">Dashboard</a></li>
                <li><a href="/collabsocial">Collaborate</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#chat">Chat</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#settings" id="settings">Settings</a></li>
                <!-- <br><br> -->
                <li><a href="/signout" id="logout" >SignOut</a></li>
            </ul>
        </nav>
        
    
    </header>
    <center>
        
    <div class="container">

        <div class="top-navbar">
            <!-- <h3>Hello {{name}}</h3> -->
            <form action="" method="get">
                <input class="form-input" type="text" placeholder="Search here" name="query">
                <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <button class="bellbtn"><i class="fa-regular fa-bell"></i></button>
        </div>


        <div class="tabs">
            <button class="find-collaborator">Find Collaborators</button>
            <button class="be-collaborator">Collaborate on a project</button>
        </div>

        <div class="row justify-content-center mt-3 find">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h1>
                        Your project
                </h1>
                <form action="" method="post">
                    {% csrf_token %}

                    {{ form }}
            
                    <br><br>
                    <button type="submit">Publish</button>
                </form>
                
            </div>
        </div>
        <h2 class="requirements">Requirements</h2>

        
        <div class="row justify-content-center mt-3 be">
            {% for post in post_list %}
            <div class="col-md-5 col-sm-12 border-bottom">
                <h1>
                        Post
                </h1>
                <p><strong>{{post.author }}</strong> {{ post.created_on }}</p>
                <p>{{ post.body }}</p>
                
            </div>
            {% endfor %} 
        </div>
        
        <input type="text" class="skill-input" placeholder="Skills">
        <button class="add-btn">+</button>

        <div class="added-skills">
            <button class="skill">Django  x</button>
            <button class="skill">JavaScript  x</button>
        </div>
        
    </div>

    <div class="suggestions">
        <div class="user"><h1 style="text-align: center;">Suggestions<hr></h1></div>
        <div class="user">
            <h2 style="text-align: left;">Riya</h2>
            <button class="invite">Invite</button>
        </div>
        <div class="user">
            <h2 style="text-align: left;">Arya</h2>
            <button class="invite">Invite</button>
        </div>
        <div class="user">
            <h2 style="text-align: left;">Neha</h2>
            <button class="invite">Invite</button>
        </div>
    </div>


</center>

</body>
</html>