{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/ac3e5cc153.js" crossorigin="anonymous"></script>
    <title>MainPage</title>
</head>
<body>




    {% for message in messages %} 
        <strong>Message: </strong> {{message}}
        
    {% endfor %} 


    {% if user.is_authenticated %} 
    <h3>Welcome {{ name }}</h3>
    <h4>Successfully logged in !</h4>
    {% else %} 
    <h3>Wrong page</h3>
    {% endif %}

    <header>

        <div class="user">
            <!-- <img src="images/logo.png.png" alt="My logo" class="logo"> -->
            <p class="logo">iCode</p>
            <img src="{% static 'user.webp' %}" alt="Profile Photo" class="pic">
            <p class="name">{{name}}</p>
            <div class="public-status">
                <p class="following"><b>30</b><br>FOLLOWERS
                </p>
                <p class="follower"><b>30</b><br>FOLLOWING</p>
            </div>
        </div>
    
        <nav class="navbar">
            <hr>
            <ul>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="#collaborate">Collaborate</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#chat">Chat</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#settings" id="settings">Settings</a></li>
            </ul>
        </nav>
    
    </header>

    <section class="dashboard" id="dashboard">

        <div class="top-navbar">
            <h3>Hello {{name}}</h3>
            <form action="" method="get">
                <input class="form-input" type="text" placeholder="Search here" name="query">
                <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <button class="bellbtn"><i class="fa-regular fa-bell"></i></button>
        </div>

        <div class="dropdown">
            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
                <a href="#">Logout<i class="fa-solid fa-user"></i></a>
            <!-- </button> -->
            <!-- <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Logout</a></li> -->
              <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            <!-- </ul> -->
          </div>
        
        <!-- <h1>Devika.B&nbsphere</h1>
        <p>A second year under-grad student who loves coding and is excited to explore various fields of technology. I aspire to solve real-life problems and contribute in making the world a better place to live in. Being a beginner, I am good at Java and Python and has more than beginner level experience in web development. I also have a keen interest in the fields of app development, machine learning and artificial intelligence.
        </p>
        <a href="#about"><button class="btn">About Me <i class="fas fa-user"></i></button></a>
     -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- <button type="submit"><a href="/signout">SignOut</a></button>

    <button type="submit"><a href="/profile">Your Profile</a></button>
    <button type="submit"><a href="/collabsocial">Collaborate</a></button> -->



</body>
</html>