{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <title>MainPage</title>
</head>
<body>



<!-- 
    {% for message in messages %} 
        <strong>Message: </strong> {{message}}
        
    {% endfor %} 


    {% if user.is_authenticated %} 
    <h3>Welcome {{ name }}</h3>
    <h4>Successfully logged in !</h4>
    {% else %} 
    <h3>Wrong page</h3>
    {% endif %} -->

    <header>

        <div class="user">
            <!-- <img src="images/logo.png.png" alt="My logo" class="logo"> -->
            <p class="logo">iCode</p>
            <img src="{% static 'user.webp' %}" alt="Profile Photo" class="pic">
            <p class="name">{{name}}</p>
            <div class="public-status">
                <p class="following"><b>30</b><br>FOLLOWERS
                </p>
                <p class="follower"><b>30</b><br>FOLLOWING</p>
            </div>
        </div>
    
        <nav class="navbar">
            <hr>
            <ul>
                <li><a href="/profilec">Dashboard</a></li>
                <li><a href="/collabsocial">Collaborate</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#chat">Chat</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#settings" id="settings">Settings</a></li>
                <br><br>
                <li><a href="/signout" >SignOut</a></li>
            </ul>
        </nav>
    
    
    </header>
    

<!-- 
    <button type="submit"><a href="/profilec">Your Profile</a></button>
    <button type="submit"><a href="/collabsocial">Collaborate</a></button>
 -->


</body>
</html>